.info {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 2rem;
    width: 100vw;
}

.card {
    width: 20%;
    margin-left: 10rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.avt {
    width: 65%;
}

.avt h3 {
    text-transform: uppercase;
    margin-top: 0.2rem;
}

.avt img {
    max-width: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 999px;
}

.verification {
    color: #333333;
    font-family: 'Nunito', sans-serif;
    padding: 2rem;
    width: 50%;
    border-radius: 15px;
    margin-bottom: 2rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.verification h3 {
    padding-bottom: 0.2rem;
    text-align: left;
    font-size: larger;
}

.verification span {
    display: flex;
    flex-direction: row;
    margin: 1rem 0.5rem;
    font-size: 16px;
    width: 100%;
    justify-content: flex-start;
}

.verification p {
    text-align: left;
    font-size: 14px;
    padding-top: 0.3rem;
}

.create_profile {
    width: 25%;
    margin-left: 20rem;
    border-top: 1px solid #a7a7a7;
    padding-top: 2rem;
    text-align: left;
}

.create_profile h2,
.create_profile p {
    text-align: left;
    margin: 1rem 0;
}



.create_profile p {
    color: #717171;
    font-size: 90%;
}

.create_profile button {
    padding: 0.7rem 1rem;
    background: radial-gradient(circle at 1.2% 5%, rgb(247, 69, 137) 34.7%, rgb(190, 7, 95) 92.3%);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 105%;
}

.card_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10%;
    border-radius: 15px;
    margin-bottom: 2rem;
    width: 100%;
}

.countTime {
    font-size: 12px;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-transform: capitalize;

}

.countTime p {
    text-align: left;
}

.countTime span {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.email span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.email span svg {
    margin-right: 0.5rem;
}