.header {
    width: 100%;
    height: 12vh;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 0rem 1rem 0rem;
    box-sizing: border-box;
}


.logo {
    width: 10%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-left: 2rem;
}

.logo img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    width: 30%;
    text-transform: capitalize;
    line-height: 18px;
    font-weight: 600;
    color: #717171;
    font-size: 14px;
    padding-top: 1rem;
}

.menu a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 0.2rem auto;
    border-radius: 999px;
}

.menu .menusub {
    border: none;
    background: transparent;
    color: #717171;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 999px;
    padding: 0.4rem 0.5rem;
    height: 100%;
    cursor: pointer;
}

.menusub:hover,
.menu a:hover {
    box-shadow: none;
    background-color: #f2f2f2;
}


.account {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 2rem;
    padding-top: 1rem;
}

.account .notifi {
    border-radius: 999px;
    border: 1px solid #3d3d3d;
    padding: 0.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.account .avt {
    color: #ffffff;
    background-color: #3d3d3d;
    border: 1px solid #f2f2f2;
    padding: 0.4rem 0.7rem;
    border-radius: 999px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}