.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 50%;
    height: 22%;
    border-bottom: 1px solid #d3d2d2;
    padding-bottom: 0.2rem;
}

.customer {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem
}

.customer p {
    color: #717171;
}

.quantity {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.change_qtt {
    padding: 0.2rem 0.6rem;
    border-radius: 99px;
    cursor: pointer;
}