header {
    height: 2rem;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 2.5rem;
    border-bottom: 1px #d6d6d6 solid;
}

.logo,
.search_bounding,
.setting {
    width: 27%;
    height: 100%;
}

.logo a {
    height: 100%;
    float: left;

}

.logo img {
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
    background-repeat: none;
    background-position: center;
}

.search_bounding {
    position: relative;

}

.find,
.find>.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.find {
    font-weight: 500;
    border-radius: 999px;
    padding: 0.3rem 0rem 0.3rem 0.5rem;
    border: 1px #d6d6d6 solid;
    font-size: 0.9rem;
    cursor: pointer;
}

.find:hover {
    box-shadow: 0 4px 6px -6px #4f4f4f;
}

.where,
.week {
    border-right: 1px #d6d6d6 solid;
    padding-right: 1rem;
}

.search {
    font-weight: 300;
    color: #3f3f3f;
}

.search>div {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 999px;
    background-color: #ff385c;
    color: white;
    margin-left: 0.3rem;
    margin-left: 1rem;
}

.search_tab {
    position: absolute;
    top: auto
}

.setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 23%;
}

.yourhome,
.language_btn {
    border-radius: 999px;
    padding: 0.5rem;
}

.yourhome:hover,
.language_btn:hover {
    background-color: #ececec;
}

.language_btn {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: inherit;
}

.account_btn {
    border-radius: 999px;
    border: 1px #d6d6d6 solid;
    padding: 0.6rem 0.3rem;
    display: flex;
    align-items: center;
    width: 3rem;
    justify-content: space-around;
    cursor: pointer;
    transition: 0.1s all;
    color: #4f4f4f;
    position: relative;
}

.account_btn:hover {
    box-shadow: 0 4px 6px -6px #4f4f4f;
}

.account_icon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.account_expand {
    position: absolute;
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    top: 115%;
    right: 0;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
    border-radius: 10px;
    transition: all 0.2s;
    z-index: 10;
}

.account_expand a {
    text-align: left;
    padding: 0.5rem 1.4rem;
    max-width: 100%;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
}

.account_expand a:hover {
    background-color: #d6d6d6;
}

.account_expand a span {
    text-transform: uppercase;
    color: #ff3838;
    font-size: 90%;
    font-weight: bold;
}

/* Navbar bottom */
.bottom_navbar {
    position: fixed;
    bottom: 0;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-top: 2px solid #d6d6d6;
    display: none;
}

.bottom_navbar div,
.bottom_navbar div a {
    height: 100%;
    /* width: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #4f4f4f;
}

.bottom_navbar div p {
    font-size: 80%;
    color: #3f3f3f;
}

/* Responsive */

@media screen and (max-width:1150px) {
    header {
        padding: 1.5rem;
    }

    .logo {
        width: 15%;
    }

    .find {
        width: 40%;
    }

    .setting {
        width: 30%;
    }

    .yourhome {
        max-height: 1rem;
        inline-size: 100%;
        overflow: hidden;
        width: fit-content;
        word-break: normal;
    }

}

@media screen and (max-width: 743px) {

    .bottom_navbar {
        display: flex;
    }

    .logo,
    .setting {
        display: none;

    }

    .find {
        width: 100%;
    }

}