/* Container */
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* ---------------------------------------------- */
/* Search palce tab */
.search_input {
    width: 90%;
    border: 1px solid #6d6d6d;
    border-radius: 999px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    height: 2.2rem;

}

.search_input input {
    width: 90%;
    outline: none;
    border: none;
    text-align: left;
    padding: 0.2rem 1.3rem;
    height: 100%;
}

.result_where {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    width: 100%;
}

.result_where>div {
    width: 21%;
    margin: auto 2%;
}



/* ---------------------------------------- */
/* People tab */

.total_guest {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    margin-top: 2rem;
}

.total_guest p {
    font-weight: 600;
    margin-right: 0.5rem;
    color: var(--primary-color);
}

.pet_check {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-top: 2rem;
}

.pet_check input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    accent-color: var(--primary-color);
}